# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# OS-specific files
.DS_Store
Thumbs.db